<?xml version="1.0"?>
<!--launch>

   <node pkg="tf" type="static_transform_publisher" name="world_to_cam" 
     args="0 0 1.5 -1.57 0 -3.14 world usb_cam 1" />
    
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" respawn="true">
        <param name="video_device" type="string" value="/dev/video1" />
        <param name="pixel_format"  value="yuyv" />
        <param name="image_width"   value="640" /> 
        <param name="image_height"  value="480" />
    </node>
    
</launch-->
<launch>
    <node pkg="tf" type="static_transform_publisher" name="odom_to_cam" 
    args="0 0 1.0 -1.57 0 -1.57 world usb_cam 10" />
</launch>
